################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
/.vs/UnitTestProject/v17
/.vs/UnitTestProject/FileContentIndex
/bin/Debug/GoSharp.dll
/bin/Debug/GoSharpBase.dll
/bin/Debug/ScenarioCollection.dll
/bin/Debug/UnitTestProject.exe
/obj/Debug/UnitTestProject.csproj.AssemblyReference.cache
/obj/Debug/UnitTestProject.csproj.CoreCompileInputs.cache
/obj/Debug/UnitTestProject.exe
